<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BaseballDB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>The Main Servlet(Parent Servlet)</description>
    <display-name>BaseballServlet</display-name>
    <servlet-name>BaseballServlet</servlet-name>
    <servlet-class>BaseballServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseballServlet</servlet-name>
    <url-pattern>/BaseballServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Staff Table.</description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Owner's Table.</description>
    <display-name>OwnerServlet</display-name>
    <servlet-name>OwnerServlet</servlet-name>
    <servlet-class>OwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerServlet</servlet-name>
    <url-pattern>/OwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The BallPark Table.</description>
    <display-name>BallparkServlet</display-name>
    <servlet-name>BallparkServlet</servlet-name>
    <servlet-class>BallparkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BallparkServlet</servlet-name>
    <url-pattern>/BallparkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Teams' Table.</description>
    <display-name>TeamServlet</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/TeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Agent Table.</description>
    <display-name>AgentServlet</display-name>
    <servlet-name>AgentServlet</servlet-name>
    <servlet-class>AgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentServlet</servlet-name>
    <url-pattern>/AgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Player Table.</description>
    <display-name>PlayerServlet</display-name>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>PlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/PlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Division Table.</description>
    <display-name>DivisionServlet</display-name>
    <servlet-name>DivisionServlet</servlet-name>
    <servlet-class>DivisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivisionServlet</servlet-name>
    <url-pattern>/DivisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The First Query from project 1.2</description>
    <display-name>QueryOneServlet</display-name>
    <servlet-name>QueryOneServlet</servlet-name>
    <servlet-class>QueryOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOneServlet</servlet-name>
    <url-pattern>/QueryOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Second Query from project 1.2</description>
    <display-name>QueryTwoServlet</display-name>
    <servlet-name>QueryTwoServlet</servlet-name>
    <servlet-class>QueryTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTwoServlet</servlet-name>
    <url-pattern>/QueryTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Third Query from Project 1.2</description>
    <display-name>QueryThreeServlet</display-name>
    <servlet-name>QueryThreeServlet</servlet-name>
    <servlet-class>QueryThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryThreeServlet</servlet-name>
    <url-pattern>/QueryThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>The Radio Choice for all tables.</description>
    <display-name>RadioChoiceServlet</display-name>
    <servlet-name>RadioChoiceServlet</servlet-name>
    <servlet-class>RadioChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RadioChoiceServlet</servlet-name>
    <url-pattern>/RadioChoiceServlet</url-pattern>
  </servlet-mapping>
</web-app>